{% extends '@ezdesign/admin/base.html.twig' %}
{% block content %}
<div class="container">
    <div
        class="modal fade ez-modal--verse-edit"
        id="modal-edit-verse"
        tabindex="-1"
        role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#discard"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    adsfasf




                    <div class="ez-field-edit ez-field-edit--verse-edit">
                        <div class="ez-field-edit__label-wrapper">
                            <label class="ez-field-edit__label" for="ezrepoforms_content_edit_fieldsData_body_value">Body</label>
                        </div>

                        <div class="ez-field-edit__data">
                            <div class="ez-data-source"> 
                                {% set udw_context = {
                                    'languageCode': 'en',
                                } %}
                                <textarea id="ezrepoforms_content_edit_fieldsData_body_value" 
                                    name="ezrepoforms_content_edit[fieldsData][body][value]" 
                                    class="ez-data-source__input form-control">&lt;?xml version="1.0" encoding="UTF-8"?&gt; &lt;section xmlns="http://ez.no/namespaces/ezpublish5/xhtml5/edit"/&gt;</textarea>
                                <div class="hidden" data-udw-config-name="richtext_embed" data-udw-config="{{ ez_udw_config('richtext_embed', udw_context) }}"></div>
                                <div class="hidden" data-udw-config-name="richtext_embed_image" data-udw-config="{{ ez_udw_config('richtext_embed_image', udw_context) }}"></div>
                                <div class="ez-data-source__richtext" id="asdfasdfasdf__editable"></div>
                                <div class="ez-richtext-tools">
                                    <ul class="ez-elements-path"></ul>
                                    {% if ez_user_settings['character_counter'] == 'enabled' %}
                                        <div class="ez-character-counter">
                                            <span class="ez-character-counter__word-count">0</span> {{ 'character_counter.words'|trans|desc('words') }}
                                            <span class="ez-character-counter__character-count">0</span> {{ 'character_counter.characters'|trans|desc('characters') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {# <div class="ez-field-edit ez-field-edit--ezrichtext">
                        <div class="ez-field-edit__label-wrapper">
                            <label class="ez-field-edit__label" for="ezrepoforms_content_edit_fieldsData_body_value">Body</label>
                        </div>

                        <div class="ez-field-edit__data">
                            <div class="ez-data-source">
                                <textarea id="ezrepoforms_content_edit_fieldsData_body_value" 
                                    name="ezrepoforms_content_edit[fieldsData][body][value]" 
                                    class="ez-data-source__input form-control">&lt;?xml version="1.0" encoding="UTF-8"?&gt; &lt;section xmlns="http://ez.no/namespaces/ezpublish5/xhtml5/edit"/&gt;</textarea>
                                <div class="hidden" data-udw-config-name="richtext_embed"
                                    data-udw-config="{&quot;multiple&quot;:false,&quot;activeTab&quot;:&quot;browse&quot;,&quot;visibleTabs&quot;:[],&quot;selectedItemsLimit&quot;:0,&quot;startingLocationId&quot;:1,&quot;searchResultsPerPage&quot;:10,&quot;searchResultsLimit&quot;:50,&quot;allowContainersOnly&quot;:false,&quot;cotfPreselectedLanguage&quot;:null,&quot;cotfAllowedLanguages&quot;:[&quot;eng-GB&quot;],&quot;cotfPreselectedContentType&quot;:null,&quot;cotfAllowedContentTypes&quot;:[],&quot;cotfPreselectedLocation&quot;:null,&quot;cotfAllowedLocations&quot;:[],&quot;allowedContentTypes&quot;:[]}"></div>
                                <div class="hidden" data-udw-config-name="richtext_embed_image" 
                                    data-udw-config="{&quot;multiple&quot;:false,&quot;activeTab&quot;:&quot;browse&quot;,&quot;visibleTabs&quot;:[],&quot;selectedItemsLimit&quot;:0,&quot;startingLocationId&quot;:1,&quot;searchResultsPerPage&quot;:10,&quot;searchResultsLimit&quot;:50,&quot;allowContainersOnly&quot;:false,&quot;cotfPreselectedLanguage&quot;:null,&quot;cotfAllowedLanguages&quot;:[&quot;eng-GB&quot;],&quot;cotfPreselectedContentType&quot;:null,&quot;cotfAllowedContentTypes&quot;:[&quot;image&quot;],&quot;cotfPreselectedLocation&quot;:null,&quot;cotfAllowedLocations&quot;:[],&quot;allowedContentTypes&quot;:[]}"></div>
                                <div class="ez-data-source__richtext cke_editable cke_editable_inline cke_contents_ltr ae-editable" 
                                    id="ezrepoforms_content_edit_fieldsData_body_value__editable" 
                                    contenteditable="true" tabindex="0" 
                                    spellcheck="true" 
                                    role="textbox" 
                                    aria-multiline="true" 
                                    aria-label="Rich Text Editor, ezrepoforms_content_edit_fieldsData_body_value__editable" 
                                    title="Rich Text Editor, ezrepoforms_content_edit_fieldsData_body_value__editable">
                                    <p data-ez-node-initialized="true">
                                        <br>
                                    </p>
                                </div>
                                <div class="ez-richtext-tools">
                                    <ul class="ez-elements-path"></ul>
                                    <div class="ez-character-counter">
                                        <span class="ez-character-counter__word-count">0</span> words
                                        <span class="ez-character-counter__character-count">0</span> characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}










                </div>
                <div class="modal-footer c-popup__footer">
                    <button type="button" class="btn btn-dark ez-btn--cancel" data-dismiss="modal">
                        Cacel
                    </button>
                    <button type="button" class="btn btn-primary font-weight-bold ez-btn--confirm">
                        Save extra content
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section class="ez-fieldgroup container">
        {% for verse in verses %}
            <div class="ez-content-field ez-ground-base">
                <p class="ez-content-field-name">{{ ez_field_value(verse, 'title') }}</p>
                <div class="row">
                    <div class="col">
                        {{ ez_render_field(verse, 'research') }}
                    </div>
                    <div class="col">
                        <div class="verses-bar ez-content-field-name">
                            <div class="verses-bar-name">
                                {{ ez_field_name(verse, 'research') }}
                            </div>
                            <div class="verses-buttons">
                                <button id="edit-verse-research-{{ verse.versionInfo.id }}" type="button" class="btn btn-sm btn-primary btn--verse-edit" 
                                    title="Edit Research">
                                    <svg class="ez-icon ez-icon--small-medium ez-icon--light">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                                    </svg>
                                </button>
                                <button id="display-verse-research-{{ verse.versionInfo.id }}" type="button" class="btn btn-sm btn-secondary">
                                    <svg class="ez-icon ez-icon--small-medium ez-icon--light">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="verses-bar ez-content-field-name">
                            <div class="verses-bar-name">
                                {{ ez_field_name(verse, 'definition') }}
                            </div>
                            <div class="verses-buttons">
                                <button id="edit-verse-definition-{{ verse.versionInfo.id }}" type="button" class="btn btn-sm btn-primary btn--verse-edit" 
                                    title="Edit Definition">
                                    <svg class="ez-icon ez-icon--small-medium ez-icon--light">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                                    </svg>
                                </button>
                                <button id="display-verse-definition-{{ verse.versionInfo.id }}" type="button" class="btn btn-sm btn-secondary">
                                    <svg class="ez-icon ez-icon--small-medium ez-icon--light">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="verses-bar ez-content-field-name">
                            <div class="verses-bar-name">
                                {{ ez_field_name(verse, 'translation') }}
                            </div>
                            <div class="verses-buttons">
                                <button id="edit-verse-translation-{{ verse.versionInfo.id }}" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-edit-verse-translation-{{ verse.versionInfo.id }}" title="Edit translation">
                                    <svg class="ez-icon ez-icon--small-medium ez-icon--light">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                                    </svg>
                                </button>
                                <button id="display-verse-translation-{{ verse.versionInfo.id }}" type="button" class="btn btn-sm btn-secondary">
                                    <svg class="ez-icon ez-icon--small-medium ez-icon--light">
                                        <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#view"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ezplatform-admin-ui-alloyeditor-css', null, 'ezplatform') }}
    {{ encore_entry_link_tags('verses-css', null, 'ezplatform') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('ezplatform-admin-ui-alloyeditor-js', null, 'ezplatform') }}
    {{ encore_entry_script_tags('verses-js', null, 'ezplatform') }}
{% endblock %}